<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chercher un article</title>
</head>
<body>
<h1>Chercher un article</h1>

<form action="/search-article" method="post">
    <label for="articleName">Nom de l'article:</label>
    <input type="text" id="articleName" name="articleName" required>
    <br>
    <button type="submit">Chercher</button>
</form>

<div th:if="${searchResult != null}">
    <h2>Résultats de la recherche :</h2>
    <table>
        <thead>
        <tr>
            <th>Nom des articles trouvés</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="article : ${searchResult}">
            <td th:text="${article.getArticleName()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>